header{
    display: flex;
    justify-content: space-between;
    background-color: #cca9dd;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
} 

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color:#171718;
    font-size: 20px;
    font-weight: 450;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}


#Button{
    display: inline-block;
    background-color: #be82db;
    box-shadow: 0px 0px 0px;
    padding: 16px 18px;
    margin-right: 0px;
    border-radius: 10px;
    pointer-events: fill;
    transition: transform 0.5s ease;
}   

#Button:hover {
    background-color: #ADD8E6;
    box-shadow: 0px 0px 15px #75b2c7; 
    transform: scale(1.05);
}

#behavior:hover{
    color: #f5f581;
    transform: scale(1.05);
}
