.header{
    display: flex;
    justify-content: space-between;
    background-color: #cca9dd;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #000
} 