.skill-tec{
    display: flex;
    font-family: "Carter One", system-ui;
    font-size: 20px;
    color: #000;
}

.skill-tec .icon-HTML{
    box-sizing: border-box;
    height: 71px;
    margin-right: 10px;
    padding-top: 5px;
    
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}